.download-s{
    background-color: #f2f2f2;
    border: 0.3rem solid #8b8b8b;
    border-radius: 2rem;
    align-self: center;
    margin: 1rem;
}
.download-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.download-button{
    margin: 1.5rem 0.5rem 2.5rem 0.5rem;
    font-size: 2rem;
    background-color: #0300d1;
    border: none;
    color: white;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5rem;
    text-shadow: 0.2rem 0.2rem black ;
    box-shadow: 0.2rem 0.2rem black;
}
.download-button:hover{
    background-color: #0062b8;
    cursor: pointer;
}