.page-indexing{
    width: 70%;
    display: flex;
    background-color: #ffffff;
    border: 0.2rem solid black;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
@media (max-width:240px){
    .page-indexing{
        width: 85%;
    }
}
@media (max-width:210px){
    .page-indexing{
        width: 97%;
    }
}
.indexes{
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
    justify-content: center;
}
.page{
    margin: 0rem 1rem 0rem 1rem;
    font-weight: 700;
    font-size: 2rem;
    color: black;
}
@media (max-width:480px){
    .page{
        font-size: 1.5rem;
    }
}
@media (max-width:390px){
    .page{
        font-size: 1.3rem;
        margin: 0rem 0.3rem 0rem 0.3rem;
    }
}
@media (max-width:290px){
    .page{
        font-size: 1.2rem;
        margin: 0rem 0.1rem 0rem 0.1rem;
    }
}
@media (max-width:180px){
    .page{
        font-size: 1rem;
    }
}
.page:hover{
    cursor: pointer;
    color: darkblue;
    font-size: 2.2rem;
}
.page-l{
    text-decoration-line: none;
    color: rgb(0, 1, 75);
}
/* .page_details{
    margin-right: 5rem !important;
} */